@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  background: #56CCF2;
}

h1,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5.8rem;
}

/* ------------------------------------------------ */
/* ------------------ DIV TODOS ------------------- */
/* ------------------------------------------------ */

div.div--todos{
  width: 58%;
  background-color: #fff;
  margin: 4rem auto;
  padding: 2rem 8rem;
  border-radius: 10px;
  border: 1px solid #000;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table.table--todos {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table.table--todos thead {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  width: 30%;
}

table.table--todos thead tr th {
  border-bottom: 1px solid #000;
  /* border-collapse: separate;
  border-spacing: 5px 5px; */
  padding-bottom: 1.8rem;
}

table.table--todos tbody {
  border-collapse: separate;
  border-spacing: 5px 5px;
  width: 70%;
}

table.table--todos tbody tr td {
  padding: 0.5rem 0;
}

table.table--todos tbody tr td[headers="state"] p {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.85rem;
  text-align: center;
  width: 55%;
}

table.table--todos tbody tr td {
  font-weight: 400;
  font-size: 1.125rem;
  text-align: left;
}

p.state1 {
  background-color: #56CCF2;
}

p.state2 {
  background-color: #F2C94C;
}

p.state3 {
  background-color: #6FCF97;
}

p.state4 {
  background-color: #EB5757;
}

td[headers="action"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------------ */
/* ------------------ BUTTONS --------------------- */
/* ------------------------------------------------ */

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  padding: 0;
  margin: 0.5rem;
}

/* ------------------------------------------------ */
/* ------------------ ADD TASK -------------------- */
/* ------------------------------------------------ */

form.form--addtask {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-left: -2rem;
}

form.form--addtask input {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  margin-left: 0.85rem;
}

/* ------------------------------------------------ */
/* ------------------ SEARCH BAR ------------------ */
/* ------------------------------------------------ */

form.form--searchbar {
  margin: auto;
  width: 58%;
  background-color: #fff;
  padding: 1rem 2.6rem;
  margin-top: 7rem;
  border-radius: 10px;
}

form.form--searchbar input {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  width: 100%;
  padding-bottom: 0.5rem ;
  border-bottom: 1px solid #000;
}

.hidden {
  display: none;
}